@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');

*, html, body {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body{
    background: rgb(36,81,166);
    background: linear-gradient(90deg, rgba(36,81,166,1) 11%, rgba(68,129,210,1) 100%);
    padding: 5px 30px;
}

h1 {
    font-weight: lighter;
    padding: 10px;
    margin-bottom: 20px;
}

input, button {
    width: 35%;
    padding: 10px;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    border: 0px;
}

button, video{
    margin-right: 10px;
}

img {
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

ol {
    text-align: left;
}
